In [1]:
import os
import glob
import pandas as pd
import psycopg2
from src.sql_queries import *

C:\Users\Administrator\anaconda3\envs\env\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Administrator\anaconda3\envs\env\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\Administrator\anaconda3\envs\env\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [14]:
df = pd.read_csv("Data/Users.csv", low_memory=False)
df.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [15]:
def create_database():
    """
    - Create & Connect to the booka_data
    - Return the connection & cursoe to books_data

    """
    # connect to the datatbase
    conn = psycopg2.connect(
        host="localhost", database="postgres", user="postgres", password="admin")
    conn.set_session(autocommit=True)
    cur = conn.cursor()

#     # create the database with utf8 encoding
#     cur.execute("DROP DATABASE IF EXISTS booka_data")
#     cur.execute(
#         "CREATE DATABASE books_data WITH ENCODING 'utf8' TEMPLATE template0")

#     # close connection to default database
#     conn.close()

    # Connect to the bopoks_data database
    conn = psycopg2.connect(
        host="localhost", database="books_data", user="postgres", password="admin")
    cur = conn.cursor()

    return cur, conn

def book_data(cur,conn):
    for i, row in df.iterrows():
        cur.execute(users_table_insert, list(row))

In [16]:
def main():
    """

    - Establishes connection with the sparkify database and gets
    cursor to it.  

    - Drops all the tables.  

    - Creates all tables needed. 

    - Finally, closes the connection. 
    """
    cur, conn = create_database()
    book_data(cur, conn)
    conn.close()


if __name__ == "__main__":
    main()

UndefinedColumn: column "userid" of relation "users" does not exist
LINE 1: INSERT INTO users (UserID,location_name,Age) VALUES (1, 'nyc...
                           ^

In [ ]:
def process_books_data(cur, conn, filepath):
    books_data = pd.read_csv(filepath, low_memory=False)
    cur.execute(books_table_insert, books_data)

In [ ]:
def process_rating_data(cur, conn, filepath):
    books_data = pd.read_csv(filepath)
    cur.execute(ratings_table_insert, books_data)

In [ ]:
def process_user_data(cur, conn, filepath):
    books_data = pd.read_csv(filepath)
    cur.execute(users_table_insert, books_data)

In [ ]:
def main():
    conn = psycopg2.connect("host=127.0.0.1 dbname=books_data user=postgres password=admin")
    cur = conn.cursor()
    process_books_data(cur,conn,"Data/Books.csv")
    process_rating_data(cur,conn,"Data/Ratings.csv")
    process_user_data(cur,conn,"Data/Users.csv")
    conn.close()


if __name__ == "__main__":
    main()